{{#id}}[{{value}}]{{/id}}
{{#name}}name={{value}}{{/name}}
{{#baseurl}}baseurl={{value}}{{/baseurl}}
{{#enabled}}enabled={{value}}{{/enabled}}
{{#gpgcheck}}gpgcheck={{value}}{{/gpgcheck}}
{{#gpgkey}}gpgkey={{value}}{{/gpgkey}}
{{#proxy}}proxy={{value}}{{/proxy}}
